<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/result">
        <div>
<label>First Name </label>
    <input type="First Name" name="First Name" >
</div>
<div>
    <label>Last Name</label>
    <input type="Last Name" name="Last Name" >
</div>
<div>

    <label>Email</label>
    <td><input type="email" name="email" placeholder="me@example.com" ></td></tr>

</div>
<div>
    <label>Password</label>
    <input type="password" name="password"  >
</div>
<div>
    <button type="submit">save</button>
</div>

    </form>
</body>
</html>